<div class="container container-evaluation">
	<h1>対戦相手を評価しましょう</h1>
	<div class="row row-evaluation text-center">
		<div class="opponent">
			<%= attachment_image_tag @user, :profile_image, :fill, 100, 100, format:'jpeg', fallback: "no_image.jpg", size:'100x100' %>
			<%= @user.nickname %>
		</div>
		<% if @request.rater != current_user.id %>
			<div class="form">
				<%= form_for [@request, @evaluation] do |f| %>
					<div class="evaluation">
						<%= f.radio_button :evaluation, :良い %>
		  				<%= f.label :evaluation, "良い　" %>
		  				<%= f.radio_button :evaluation, :普通 %>
		  				<%= f.label :evaluation, "普通　" %>
		  				<%= f.radio_button :evaluation, :悪い %>
		  				<%= f.label :evaluation, "悪い　" %>
	  				</div>
	  				<div class="evaluation_comment">
						<label for="evaluation_comment">評価のコメント</label>
						<div class="form-group">
							<%= f.text_area :evaluation_comment, class: "form-control text-center" %>
						</div>
					</div>
					<div class="submit">
						<%= f.submit "評価をを投稿する", class:"btn btn-warning create" %>
					</div>
				<% end %>
			</div>
		<% else %>
			<div class="message text-center">
				<h2>すでに評価済みです。対戦相手の評価が終了するまでお待ちください。</h2>
			</div>
			<div class="text-center">
				<%= link_to '対戦予定一覧に戻る', schedule_requests_path(current_user), class: "btn btn-info back" %>
			</div>
		<% end %>
	</div>
</div>