
<div class="container">
	<div calss="row">
		<h1>ここがプロフ編集画面です</h1>

		<%= form_for(@user) do |f| %>
				<div class="image">
					<p><strong>プロフィール画像 </strong></p>
					<%= f.attachment_field :profile_image, class: "user-edit-form" %>
				</div>
				<div class="name">
					<p><strong>ニックネーム </strong><%= f.text_field :nickname, class:"", id:"inputEmail", placeholder:"名前"%></p>
				</div>
				<div class="Introduction">
					<p><strong>自己紹介文 </strong><%= f.text_area :introduction %></p>
				</div>
				<div class="match_style">
					<p><strong>対戦スタイル </strong><%= f.collection_select :match_style_id, MatchStyle.all, :id, :match_style, include_blank: "選択して下さい" %></p>
				</div>
				<div class="submit">
					<%= f.submit "プロフィールを更新する" %>
				</div>
		<% end %>

		<%= link_to 'プロフィール画面に戻る', user_path %>
	</div>
</div>