<div class="container container-edit">
	<h1>プロフィールを編集する！</h1>
	<div class="row row-edit text-center">
		<%= form_for(@user) do |f| %>
				<div class="image form-group">
					<p><%= attachment_image_tag(@user, :profile_image, :fill, 100, 100, fallback: "no_image.jpg", size:'150x150') %></p>
				</div>
				<p><%= f.attachment_field :profile_image, class: "user-edit-form" %></p>
				<div class="name form-group">
					<p><strong>ニックネーム </strong><%= f.text_field :nickname, class: "form-control text-center", id:"inputEmail", placeholder:"名前"%></p>
				</div>
				<div class="Introduction form-group">
					<p><strong>自己紹介文 </strong><%= f.text_area :introduction, class: "form-control text-center" %></p>
				</div>
				<div class="match_style form-group">
					<p><strong>対戦スタイル　 </strong><%= f.collection_select :match_style_id, MatchStyle.all, :id, :match_style, include_blank: "選択して下さい", class: "form-control" %></p>
				</div>
				<div class="submit">
					<%= f.submit "プロフィールを更新する", class:"btn btn-success profile-update" %>
				</div>
		<% end %>
		<div class="genre text-center">
			<h2>プレイしているTCG</h2>
			<% if @user.tcg_genres.empty? %>
				<p class="no_tcg">プレイしているTCGが未登録です</p>
			<% else %>
				<table class="genre-index" align="center">
					<% @user.tcg_genres.each do |tcg| %>
						<tr>
			  				<th><%= tcg.tcg_tag.tcg_name %></th>
	    	  				<th>　<%= link_to '削除する', tcg_genre_path(tcg.tcg_tag_id), method: :delete, class: "btn btn-danger" %></th>
						</tr>
					<% end %>
				</table>
			<% end %>
			<div class="genre-add">
				<%= form_tag tcg_genres_path, method: :post do %>
					<%= select_tag :tcg_tag_id,options_from_collection_for_select(TcgTag.all, "id", "tcg_name"),include_blank: "TCG名" %>
					<%= submit_tag "追加する", name: nil, class: "btn btn-success" %>
				<% end %>
			</div>
		</div>
	</div>

	<div class="back text-center">
		<%= link_to 'プロフィール画面に戻る', user_path(@user), class: "btn btn-info back" %>
	</div>
</div>