<div class="container">
	<div class="row">
		<h1>マッチリクエストを探す！</h1>

		<p>検索</p>
		<%= form_tag search_requests_path, method: :get do %>
			<%= select_tag :tcg_tag_id,options_from_collection_for_select(TcgTag.all, "id", "tcg_name"),include_blank: "TCG名" %>
			<%= select_tag :prefecture, options_for_select(Request.prefectures.keys) %>
			<%= date_field_tag :match_day %>
			<%= select_tag :match_style_id,options_from_collection_for_select(MatchStyle.all, "id", "match_style"),include_blank: "プレイスタイル" %>
			<%= submit_tag "絞り込む", name: nil %>
		<% end %>

		<% @requests.each do |request| %>
			<div class="btn">
				<%= link_to request_path(request) do %>
					<%= request.request_title %>
					<%= request.tcg_tag.tcg_name %>
					<%= request.match_day %>
					<%= request.match_style.match_style %>
					<%= request.prefecture %>
					<p><%= request.meeting_time.strftime('%H:%M') %>〜</p>
					<p>〜<%= request.ending_time.strftime('%H:%M') %></p>
					<%= attachment_image_tag request.user, :profile_image, :fill, 100, 100, format:'jpeg', fallback: "no_image.jpg", size:'50x50' %>
					<%= request.user.nickname %>
					<%= request.meeting_place %>
				<% end %>
			</div>
		<% end %>
		<%= paginate @requests %>
	</div>
</div>