<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="/">
				☆トレスタ
			</a>
		</div>
		<div class="collapse navbar-collapse" id="NavbarContent">
			<ul class="nav navbar-nav navbar-right">
				<% if user_signed_in? %>
				<p class="navbar-text">ようこそ  <%= current_user.nickname %>  さん。</p>

				<li class="btn">
					<%= link_to "マイページ", user_path(current_user.id), {class: "btn-text"} %>
				</li>

				<li class="btn">
					<%= link_to "対戦相手を募集する！", new_request_path, {class: "btn-text"} %>
				</li>

				<li class="btn">
					<%= link_to "マッチリクエストを探す！", requests_path, {class: "btn-text"} %>
				</li>

				<li class="btn">
					<%= link_to "対戦予定一覧", schedule_requests_path, {class: "btn-text"} %>
				</li>

				<li class="btn">
					<%= link_to "ログアウト", destroy_user_session_path, {class: "btn-text", method: :delete} %>
				</li>

				<% else %>

				<p class="navbar-text">ようこそ  ゲスト  さん。</p>

				<li class="btn">
					<%= link_to "トレ☆スタとは？", home_about_path, {class: "btn-text"} %>
				</li>

				<li class="btn">
					<%= link_to "新規登録" , new_user_registration_path, {class: "btn-text"} %>
				</li>

				<li class="btn">
					<%= link_to "ログイン", user_session_path, {class: "btn-text"} %>
				</li>

				<% end %>
			</ul>
		</div>
	</div>
</nav>
